NODE_ENV=''

API_CALL_TIMEOUT_S=''

DATABASE_URL=''
FORGET_PASSWORD_EXPIRES_MS=''

GOOGLE_OAUTH_GOOGLE_CLIENT_ID=''
GOOGLE_OAUTH_GOOGLE_CLIENT_SECRET=''
GOOGLE_OAUTH_GOOGLE_REDIRECT_URI=''
GOOGLE_OAUTH_TOKEN_URL=''
GOOGLE_OAUTH_USERINFO_URL=''

JWT_ACCESS_TOKEN_EXPIRATION_IN_MINUTES=''
JWT_ACCESS_TOKEN_SECRET=''
JWT_REFRESH_TOKEN_EXPIRATION_IN_MINUTES=''
JWT_REFRESH_TOKEN_SECRET=''

MAILER_PASS=''
MAILER_SERVICE=''
MAILER_USER=''

NEXT_PUBLIC_BASE_URL=''
NEXT_PUBLIC_GOOGLE_CLIENT_ID=''
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=''
NEXT_PUBLIC_JWT_REFRESH_INTERVAL_MS=''
NEXT_PUBLIC_CF_TURNSTILE_SITE_KEY=''
CF_TURNSTILE_SECRET_KEY=''
CF_TURNSTILE_VERIFY_URL='https://challenges.cloudflare.com/turnstile/v0/siteverify'

COOKIE_SECURE=''
COOKIE_SAME_SITE=''
COOKIE_HTTP_ONLY=''
COOKIE_MAX_AGE_IN_SECONDS=''
COOKIE_USER_TOKEN_NAME=''

# Text Share
TEXT_SHARE_MAX_CONTENT_LENGTH_KB=100
TEXT_SHARE_DEFAULT_EXPIRY_DAYS=30
TEXT_SHARE_CLEANUP_CRON='0 2 * * *'